body{
    margin: 0;
    font-family: 'Source Sans Pro', sans-serif;
}

div.container{
    width: 70%;
    margin: auto;
    border: 20px solid #bdc3c7;
    margin-top: 20px;
}

h2{
    margin: 20px;
    color: #2c3e50;
    font-size: 35px;
}

p.date{
    text-transform: uppercase;
    margin: 20px;
    color: #3498bd;
    font-weight: 700;
    letter-spacing: 5px;
}

p{
    margin: 20px;
    line-height: 1.3em;
    font-weight: 500;
    font-size: 20px;
}

p.first-para{
    border-left: 6px solid #bdc3c7;
    padding-top: 0;
    padding-bottom: 0;
    padding-left: 20px;
}

hr{
    margin: 20px;
}